@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Playfair Display SC','PT Serif', serif;
  font-size: 25px;
}

ul, li, ol{
  list-style: none;
}