@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');

#main {
  width: 100%;
}

#tribute-presentation{
  font-family: 'Playfair Display SC','PT Serif', serif;
  height: 100vh;
  background: #033F63;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#tribute-presentation h1{
  font-size: 48px;
  color: #fff;
  font-weight: 200;
}

#tribute-presentation h4{
  color: #fff;
  font-size: 32px;
  font-weight: 200;
}

#tribute-quote{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 680px;
  background: #3E5C41;
  text-align: center;
}

#tribute-quote q{
  max-width: 410px;
  width: 100%;
  color: #fff;
}

#tribute-quote #img-div #image{
  width: 100%;
  max-width: 480px;
  height: auto;
  box-shadow: 0 0 5px rgba(0,0,0, 0.8);
}

#tribute-info{
  background: #033F63;
}

#tribute-info article {
  color: #fff;
  max-width: 700px;
  width: 100%;
  padding: 40px 20px 40px 20px;
  margin-left: auto;
  margin-right: auto;
}

#tribute-info article h4{
  text-align: center;
  margin-bottom: 1em;
}

#tribute-info article ul li{
  position: relative;
  padding: .5em 0 .5em .8em;
}

#tribute-info article ul li::before{
  content: '';
  background-color: #fff;
  width: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-50%);
}

#tribute-info article ul li::after{
  content: '';
  background-color: #033F63;
  position: absolute;
  height: .5em;
  width: .5em;
  border: 3px solid #fff;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

#tribute-info article footer{
  background-color: #033F63;
  color: #fff;
  text-align: center;
  height: 4em;
}

#tribute-info #tribute-link{
  color: #fff;
}