#main {
  width: 100vw;
}

#tribute-presentation{
  height: 100vh;
  background: #033F63;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'PT Serif', serif;
  text-align: center;
}

#tribute-presentation h1{
  font-size: 48px;
  color: #fff;
  font-weight: 200;
}

#tribute-presentation h4{
  color: #fff;
  font-size: 32px;
  font-weight: 200;
}

#tribute-quote{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 680px;
  background: #3E5C41;
  text-align: center;
}

#tribute-quote p{
  width: 300px;
  padding: 10px 0 0 10px;
  color: #fff;
}

#tribute-quote #img-div{
  height: 70%;
  margin: 40px;
}

#tribute-quote #img-div #image{
  width: auto;
  height: 100%;
}